.App {
  background-color: #f9f5eb;
}

.icons-container {
  display: flex;
  justify-content: flex-end;
  background-color: #ffdecb;
}

.icons-container a {
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.icons-container a:hover {
  transform: scale(1.2);
}

.product-list-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
