.App {
  background-color: #d716d7;
}
/* App.css (or your CSS file) */

.icons-container {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
}

.icons-container a {
  margin-left: 10px; /* Add margin to the left for spacing */
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.icons-container a:hover {
  transform: scale(1.2); /* Increase the scaling factor for hover */
}
